.col-md-10
  .row
    .col-md-6
      %p
        beer1
      %canvas{id: "beer1", width:400, height: 400}
    .col-md-6
      %p
        beer2
      %canvas{id: "beer2", width:400, height: 400}
.col-md-2
  .row
    %p
      sidebar
