.col-md-9
  .row.top-banner
    .col-xs-4.left-hop
    .col-xs-4.logo
    .col-xs-4
  .row
    .col-xs-6.beer
      %canvas{id: "beer1", width: "200", height: "200"}
    .col-xs-6.beer
      %canvas{id: "beer2", width: "200", height: "200"}
  .row.bottom-bar
.col-md-3.sidebar
  .row
    %p
      sidebar
